
.vs/

# Executables
*.exe
*.out
*.app

# zip files
*.zip

# VS Code
*.vscode

# working directories
build/
working/
.modcache/
__pycache__/
dist/

# PyCharm
.idea/

# Visual SlickEdit projct files
*.vtg
*.vpj
*.vpw
*.vpwhist

# PyInstaller
*.spec

